* {
  padding: 0%;
  margin: 0%;
}

:root {
  --jaune: '#F4C431'
}

/* Cette class modifie le style de l'onglet qui est active grace a la class me donne Navlink */
.active {
  color: #F4C431;
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'impact';
  src: url(./fonts/impact.ttf);
}

@font-face {
  font-family: 'Dortmund-ExtraBold';
  src: url(./fonts/Dortmund-ExtraBold.otf);
}

@font-face {
  font-family: 'Pavelt';
  src: url(./fonts/Pavelt.ttf);
}
